{% extends "emails/base.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}
    <p>¡Hola {{ speaker }}!</p>
    <p>Lamento comunicarte que tu propuesta presentada a la {{ CONFERENCE_TITLE }} que lleva por título "{{ title }}", no ha pasado el corte y no ha sido seleccionada.</p>
    <p>Tu propuesta ha quedado en lista de espera por si finalmente se produce alguna baja, así que ¡no te desanimes!</p>
    <P>De todos modos nos gustaría verte este año por la {{ CONFERENCE_TITLE }}, pronto publicaremos el horario y creemos que te va a resultar muy interesante.</p>
    <p>¡Nos vemos en Cáceres!</p>
    {% endblocktrans %}
    <p>{% trans "¡Un saludo!" %}</p>
{% endblock body %}
