@import url(https://fonts.googleapis.com/css?family=Fira+Code|Source+Code+Pro&display=swap);

// Font Variables
$sourcecode: 'Source Code Pro', monospace;
$firacode:  'Fira Code', monospace;




.todo{
  background-color: red;
}


.acorn-background {
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  height: 250px;
  .main-title{
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    h1{
      font-family: $firacode;
      font-size: 6em;
      color: white;
      font-weight: bold;
      span{
        margin-left: 10px;
        font-weight: normal;
        font-family: reading;
        font-size: 2em;
      }
    }
  }
}

$logo-width: 495px;
$logo-height: 400px;
.logo {
  //background: #fff url("../images/logo.png") no-repeat 15px 15px;
  background-size: $logo-width $logo-height !important;
  width: $logo-width+30px;
  height: $logo-height+30px;
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    //background: #fff url("../images/logo.png") no-repeat 15px 15px;
    background-size: $logo-width $logo-height;
  }
}

.col-vertical-middle-fixed {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: auto -5px auto auto;
}

.claim {
  border-bottom: 5px solid $green-dark;
  margin-bottom: 15px;
  .img-logo {
    padding: 10px;
    background-color: #fff;
  }
}
