$slot-border-size: 5px;

.schedule {

  // Day
  .day {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px;
    background-color: $green-dark;
    h2 {
      margin-top: 0.5rem;
      color: #fff;
    }
  }

  // Track title
  .track-title-row {

    text-align: center;

    .track-title {
      h3 {
        color: #fff;
        margin-top: 0.5rem;;
      }
      margin-bottom: 7px;
      &:nth-child(odd) {
        background-color: $red-dark;
      }
      &:nth-child(even) {
        background-color: $red-light;
      }
    }
  }

  // Slots
  .slot-row {

    .slot {
      border-left: $slot-border-size solid $green-primary;
      background-color: rgba(44, 187, 145, 0.1);
      margin-bottom: 15px;
      h3 {
        font-size: 18px;
      }
      &-inner {
        padding: 5px 7px;
        small {
          color: #444;
        }
      }

      &-plenary {
        text-align: center;
        border-left: $slot-border-size solid $green-dark;
        background-color: $green-primary;
        height: auto;
        color: #fff;
        font-size: 18px;
        > .slot-inner {

        }
      }

      &-basic {
        background-color: rgba(44, 187, 145, 0.2);
      }
      &-intermediate {
        background-color: rgba(255, 196, 34, 0.2) !important;
      }

      &-advanced {
        background-color: rgba(187, 75, 44, 0.2) !important;
      }

      &-kind {
        text-align: right;
        float: right;
        font-weight: 700;
      }

      .default-room {
      }

    }

  }

}

.js-slot-expand {
  cursor: pointer;
}

.slot-details {

  .slot-kind {

  }

}
