{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load schedule_tags %}


{% block content %}
    <div class="slot-details {{ slot.kind.css_class }}">
        <span class="slot-kind">{{ slot.kind.label }}</span>
        <div class="row">
            <div class="col-xs-12">

                <h1>
                    {{ slot.content.get_title }}
                </h1>
                {% for speaker in slot.content.get_speakers %}
                <h2>
                    <img src="{{ speaker.photo_url }}" class="rounded img-thumbnail" style="width: 64px; height: 64px">
                    <small>{{ speaker.name }}</small>
                </h2>
                {% endfor %}
                <ul class="list-unstyled">
                    <li>{{ slot.day.date|date:"d F Y" }}, {{ slot.start }} - {{ slot.end }}</li>
                    {% if slot.room %}
                    <li>{{ slot.room }}</li>
                    {% endif %}
                    <li>{% trans "Idioma" %}:  <span style="text-transform: uppercase">{{ slot.content.get_language }}</span></li>
                </ul>
                <p>{{ slot.content.get_abstract }}</p>
                {% if slot.get_video_url or slot.get_keynote_url %}
                <ul class="list-unstyled">
                    {% if slot.get_keynote_url %}
                        <li><a href="{{ slot.get_keynote_url }}" target="_blank">{% trans "Descargar presentación" %}</a></li>
                    {% endif %}
                    {% if slot.get_video_url %}
                        <li><a href="{{ slot.get_video_url }}" target="_blank">{% trans "Ver vídeo" %}</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% for speaker in slot.content.get_speakers %}
                    {% if speaker.has_biography %}
                    <h2>{% trans "Acerca de" %}</h2>
                    <p>{{ speaker.biography }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{% url "schedule:show" %}" class="btn btn-danger">&leftarrow; {% trans "Volver" %}</a>
        </div>
    </div>
{% endblock content %}
