{% extends "container.html" %}

{% load i18n static %}
{% block title %}{% trans 'Error 500' %}{% endblock %}
{% block page_title %}{% trans 'Error 500' %}{% endblock page_title %}

{% block content %}
  <main>
    <section class="container" id="errorPage">
      <h1>{% trans 'Error 500 :(' %}</h1>
      <div class="row">
        <div class="col-12 col-lg-12 text-center">
          <h2>{% trans 'Oops! Alguna cosa a ido mal' %}</h2>
          <img src="{% static 'img/errorface.png' %}" alt="{% trans 'Error 500' %}">
          <a href="{% url 'home' %}" class="btn btn-primary">{% trans 'Volver' %}</a>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
