{% extends "base.html" %}
{% load i18n %}
{% load reviewers_extra %}
{% load static %}

{% block body %}

    {% block header %}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}">{{ CONFERENCE_TITLE }}</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  {% if activate_about_us %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "info" %}">{% trans "Sobre Granada" %}</a>
                  </li>
                  {% endif %}
                  {% if activate_schedule %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "horario" %}">{% trans "Horario" %}</a>
                  </li>
                  {% endif %}
                  {% if activate_job_board %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "jobboard:list" %}">{% trans "Job Board" %}</a>
                  </li>
                  {% endif %}
                  {% if activate_hotels %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "hotels" %}">{% trans "Hoteles" %}</a>
                  </li>
                  {% endif %}
                  {% if activate_blog %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "blog:list" %}">{% trans "Blog" %}</a>
                  </li>
                  {% endif %}
                  {% if tshirts_page_activated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "tshirts:index" %}">{% trans "Camisetas" %}</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "code-of-conduct" %}">{% trans "Código de conducta" %}</a>
                  </li>
              </ul>
            </div>
        </div>
    </nav>
    {% endblock header %}

    {% block container %}{% endblock container %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-5 offset-md-2">
                        <ul class="list-unstyled">
                            <li><a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <form action="{% url 'set_language' %}" method="post" class="form-inline">{% csrf_token %}
                            <div class="form-group">
                                <input name="next" type="hidden" value="/" />
                                <select name="language" class="form-control" onchange="this.form.submit()" style="text-transform: capitalize">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                            {{ language.name_local }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center" style="font-size: 32px;">
                        <a href="https://twitter.com/pycones"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}

{% endblock body %}
