{% extends "container.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Acceso de usuarios" %}</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group row{% if field.errors %} has-danger{% endif %}">
            <label for="{{ field.auto_id }}" class="col-sm-2 form-control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
                <span class="help-block">{{ field.help_text }}</span>
                <span class="help-block">{{ field.errors }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Entrar" %}</button>
        </div>
        <div class="offset-sm-2 col-sm-10 text-center" style="margin-top: 30px">
            <a href="{% url "users:request-restore-password" %}">{% trans "¿No tienes contraseña o la has olvidado?" %}</a>
        </div>
    </div>
</form>

{% endblock content %}
