{% extends "container.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<h2>{% trans "Código de conducta" %}</h2>
<p class="loud">
    {% blocktrans %}
        PyConES aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación sexual, discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna circunstancia.
    {% endblocktrans %}
</p>
<p class="loud">
    {% blocktrans %}
        Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son inapropiados en la conferencia y en las charlas.
    {% endblocktrans %}
</p>
<p class="loud">
    {% blocktrans %}
        Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional. Recuerda que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyConES.
    {% endblocktrans %}
</p>
<p class="loud">
    {% blocktrans %}
        Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o expulsados de la conferencia sin derecho a reembolso.
    {% endblocktrans %}
</p>
<p class="loud">
    {% blocktrans %}
        Gracias por ayudarnos a hacer este evento amistoso y abierto para todos.
    {% endblocktrans %}
</p>
<a href="{% url "code-of-conduct" %}">{% trans "Código de Conducta Completo" %}</a>

{% endblock content %}
