{% load i18n static %}

{% block form %}
  <form id="orderProduct" class="product-payment-detail" method="POST">
    {% csrf_token %}

    <h4 class="product-title mb-2">{% trans 'Camiseta oficial Pycon Alicante 2019' %}</h4>
    <h2 class="product-price display-4">25.00€</h2>
    <p class="mb-0">{% trans 'Lugar de recogida en la propia Pycon' %}</p>

    {# General errors #}
    {% for error in form.field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}

    {# Fields #}
    <div class="row mt-4">

      {# NIE #}
      <div class="col col-12">
        <label for="{{ form.nif.id_for_label }}">{% trans 'NIF/NIE' %}</label>
        {{ form.nif }}
      </div>

      {# Size #}
      <div class="col col-md-6">
        <label for="{{ form.thirt_size.id_for_label }}">{{ form.tshirt_size.label }}</label>
        {{ form.tshirt_size }}
      </div>

      {# Shirt cut #}
      <div class="col col-md-6 mb-5">
        <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
        {{ form.sex }}
      </div>
    </div>

    {# Buy button #}
    <button class="btn btn-primary btn-lg btn-block">{% trans 'Comprar' %}</button>

  </form>
{% endblock %}
