{% extends "container.html" %}
{% load i18n %}

{% block content %}
    <div style="min-height: 350px; padding-top: 150px;">
        <h2 class="text-center">{% trans "¡Gracias por registrarte!" %}</h2>
        <p class="text-center">
            {% blocktrans %}
                Te hemos enviado un correo electrónico para que establezcas tu contraseña
                y puedas acceder al listado de propuestas para revisarlas.
            {% endblocktrans %}
        </p>
    </div>
{% endblock content %}
