{% extends "blog/base.html" %}
{% load i18n %}

{% block content %}
<main>
    <section class="container" id="blogList">
    <h1>PyconES2019 Blog</h1>
    <div class="row">

    {% for post in posts %}
        {% include "blog/_article.html" %}
        <hr />
        {% empty %}
        <div class="row" style="min-height: 150px; padding-top: 50px">
            <div class="col-12 text-center">
                <h2>{% trans "¡Aún no hay ninguna entrada en el blog!" %}</h2>
            </div>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock content %}
