{% extends "base.html" %}
{% load i18n static %}

{% block content %}
  <main>
    <section class="container text-center" id="alertMessage">
      <div class="well"></div>

      <h1>{% trans 'Muchas gracias' %}</h1>
      <img src="{% static "img/check.png"%}" alt="ok">

      <div class="row">
        <div class="col-12 col-lg-12">
            <p>{% trans 'Hemos registrado tu reserva.' %}</p>
            <h3>{% trans '¡Nos vemos pronto!' %}</h3>
            <a href="{% url 'tshirts:index' %}" class="btn mt-5 btn-primary btn-lg btn-block">{% trans 'Volver' %}</a>
        </div>
      </div>

    </section>
  </main>
{% endblock %}
