{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{% trans "Editar datos" %}</h1>
            <p>{% trans "Sube desde este formulario el fichero de la charla o taller." %}</p>
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="col-sm-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            {{ field }}
                            <span class="help-text text-danger">{{ field.errors }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">{% trans "Guardar" %}</button>
                    <a href="{% url "speakers:edit" %}" class="btn btn-danger">&leftarrow; {% trans "Volver" %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}