{% extends "container.html" %}
{% load i18n static %}

{% block title %}{% trans 'Solicitud incorrecta' %}{% endblock %}

{% block page_title %}{% trans 'Solicitud incorrecta' %}{% endblock page_title %}

{% block content %}
  <main>
    <section class="container" id="errorPage">
      <h1>{% trans 'Oops!' %}</h1>

      <div class="row">
        <div class="col-12 col-lg-12 text-center">
          <h2>{% trans 'Solicitud incorrecta' %}</h2>
          <img src="{% static 'img/errorface.png' %}" alt="{% trans 'Error 400' %}">
          <p>{% trans 'La solicitud recibida parece ser que no es válida.' %}</p>
          <a href="{% url 'home' %}" class="btn btn-primary">{% trans 'Volver' %}</a>
        </div>
      </div>

    </section>
  </main>
{% endblock content %}
