{% extends "headers.html" %}
{% load static %}

{% block container %}

    {% block claim %}
    <div class="claim acorn-background">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <img src="{% static "images/logo.png" %}" class="img-fluid img-logo">
                </div>
            </div>
        </div>
    </div>
    {% endblock claim %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock container %}
