{% extends "headers.html" %}
{% load static %}

{% block container %}

    {% block claim %}
    <div class="claim acorn-background">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2 col-lg-4 offset-lg-4">
                    <img src="{% static "images/logo.png" %}" class="img-fluid img-logo">
                </div>
            </div>
        </div>
    </div>
    {% endblock claim %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock container %}
