version: '3'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    image: pycones
    restart: always
    environment:
      DJANGO_SECRET_KEY: 
      DJANGO_SETTINGS_MODULE: config.settings.production
      DATABASE_URL: postgres://upycones20:pass@host:5432/pycones20db
      DJANGO_ALLOWED_HOSTS: 
      SENTRY_URL: 
      POSTGRES_DB: pycones20db
      POSTGRES_USER: upycones20
      POSTGRES_PASSWORD: pass
      POSTGRES_HOST: host
      POSTGRES_PORT: 5432

    volumes:
      /data/media:/app/pycones/media 
    ports:
        - "8020:8080"
    command: run-uwsgi
