# Sample for environment variables used to execute this project
# ------------------------------------------------------------------------------

POSTGRES_PASSWORD=potato
POSTGRES_DB=pycones2017
DJANGO_SECRET_KEY=4)i0p15fwh0c+@b+m4qbd4_%ix19)_!xj(o(c(tp+&1c5-wh8$
DJANGO_SETTINGS_MODULE=config.settings.production
DATABASE_URL=postgres://postgres:potato@db:5432/pycones2017
DJANGO_ALLOWED_HOSTS=localhost,2017.es.pycon.org
SENTRY_URL=
