{% extends "emails/base.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}
    <p>¡Hola {{ speaker }}!</p>
    <p>Tengo el placer de comunicarte que tu propuesta presentada a la {{ CONFERENCE_TITLE }} que lleva por título "{{ title }} ha sido ACEPTADA.</p>
    <p>¡Enhorabuena! Pronto publicaremos el horario de la {{ CONFERENCE_TITLE }} para que podáis planificaros correctamente.</p>
    <p>Recuerda que los ponentes también deben comprar su entrada a la conferencia, así que no te despistes si aún no tienes tu entrada y comprala ya!</p>
    <p>Si por cualquier razón no vas a poder asistir a la conferencia, te rogamos nos lo notifiques cuanto antes al correo de contacto (contacto2016@es.pycon.org) para que podamos ajustar la agenda y avisar al siguiente en lista de espera.</p>
    {% endblocktrans %}
    <p>{% trans "¡Enhorabuena y un saludo!" %}</p>
{% endblock body %}
