{% extends "base.html" %}
{% load i18n %}
{% block title %}Job Board offer from {{ job_offer.employer.name }} {% endblock %}

{% block content %}
    <h2>{{ job_offer.title }}</h2>
    <img src="{{ job_offer.employer.website_logo.url }}" title="{{ job_offer.employer.name }}" alt="{{ job_offer.employer.name }}" class="img-fluid sponsors-img-small">
    <div>
        {{ job_offer.description }}
    </div>
    <a href="{{ job_offer.application_url}}" class="btn btn-success">{% trans "Enviar solicitud" %}</a>
{% endblock content %}
