@import url(https://fonts.googleapis.com/css?family=Fira+Code|Source+Code+Pro&display=swap);

// Font Variables
$sourcecode: 'Source Code Pro', monospace;
$firacode:  'Fira Code', monospace;
$open_sans: 'Open Sans', sans-serif;

.tickets-box{
  margin: 30px;
}

.dossier-btn{
  margin-top: 30px;
}

#contentPage {
  img{
    max-width: 100%;
    height: auto;
  }
}

.acorn-background {
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  height: 250px;
  .main-title{
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    h1{
      font-family: $firacode;
      font-size: 4em;
      color: white;
      font-weight: bold;
      span{
        margin-left: 10px;
        font-weight: normal;
        font-family: reading;
        font-size: 2em;
      }
    }
  }
}



.acorn-background-video {
  background-size: cover;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  animation: fadeInOpacity 2s 6s forwards;

  .main-title{
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    h1{
      padding: 20px 0;
      font-family: $open_sans;
      font-size: 6em;
      color: white;
      font-weight: bold;
      span{
        margin-left: 10px;
        font-weight: normal;
        font-family: reading;
        font-size: 2em;
      }
    }
  }
}

$logo-width-header: 100px;
$logo-height-header: 50px;
.logo_header{
  width: $logo-width-header;
  height: $logo-height-header;
}

.hero-image{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.m-hero-video-holder {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 0;
    overflow: hidden;
}

.m-hero-video-holder .m-hero-video-container, .m-hero-video-holder embed, .m-hero-video-holder iframe, .m-hero-video-holder video {
    position: absolute;
    left: 0;
    top: -4%;
    width: 100%;
    height: 100%;
}
.m-hero-video-holder .m-hero-video-container {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-hero-video-container .acorn-background-video{
  z-index: 100;
  display: block;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  padding: 0;
}


@keyframes fadeInOpacity {
 to {
    opacity: 1;
  }
}


$logo-width: 495px;
$logo-height: 400px;
.logo {
  //background: #fff url("../images/logo.png") no-repeat 15px 15px;
  background-size: $logo-width $logo-height !important;
  width: $logo-width+30px;
  height: $logo-height+30px;
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    //background: #fff url("../images/logo.png") no-repeat 15px 15px;
    background-size: $logo-width $logo-height;
  }
}

.col-vertical-middle-fixed {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: auto -5px auto auto;
}

.claim {
  border-bottom: 5px solid $green-dark;
  margin-bottom: 15px;
  .img-logo {
    padding: 10px;
    background-color: #fff;
  }
}
