@font-face {
    font-family: reading;
    src: url('../fonts/reading_regular.otf') format("opentype");
}

@font-face {
    font-family: 'roble_alt_blackblack';
    src: url('../fonts/roblealtblack-webfont.woff2') format('woff2'),
         url('../fonts/roblealtblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roble_alt_boldbold';
    src: url('../fonts/roblealtbold-webfont.woff2') format('woff2'),
         url('../fonts/roblealtbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roble_alt_lightlight_italic';
    src: url('../fonts/roblealtlight-italic-webfont.woff2') format('woff2'),
         url('../fonts/roblealtlight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roble_alt_lightlight';
    src: url('../fonts/roblealtlight-webfont.woff2') format('woff2'),
         url('../fonts/roblealtlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roble_alt_mediummedium';
    src: url('../fonts/roblealtmedium-webfont.woff2') format('woff2'),
         url('../fonts/roblealtmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');