https://pycones.prod.aws.apsl.io {
  log stdout
  errors stdout
  
  tls hostmaster@apsl.net 
  
  proxy / nginx:5002 {
    transparent
  }
}

http://2019.es.pycon.org {
  log stdout
  errors stdout
  
  tls off
  
  proxy / nginx:5002 {
    transparent
  }
}

http://www.2019.es.pycon.org {
  log stdout
  errors stdout
  
  tls off
  
  redir http://2019.es.pycon.org{uri}
}
