https://pycones.prod.aws.apsl.io {
  log stdout
  errors stdout
  
  tls hostmaster@apsl.net 
  
  proxy / nginx:5002 {
    transparent
  }
}

2019.es.pycon.org {
  log stdout
  errors stdout
  
  tls hostmaster@apsl.net 
  
  proxy / nginx:5002 {
    transparent
  }
}

www.2019.es.pycon.org {
  log stdout
  errors stdout
  
  tls hostmaster@apsl.net 
  
  redir https://2019.es.pycon.org{uri}
}
