{% load i18n %}
<article class="col-12 col-lg-12">
<div>
  <h2><a href="#">{{ post.title }}<span class="dataCreation" >{{post.created}}</span></a></h2>

  {% if post.outstanding_image %}
  <img src="{{ post.outstanding_image.url }}" alt="image {{post.title}}">
  {% endif %}
  <div>
    {{ post.get_content }}
    {% comment %}
    <p class="text-right">
      <a href="{% url "blog:list" %}" class="btn btn-primary">{% trans "Seguir leyendo" %}</a>
    </p>
    {% endcomment %}
    </div>
</div>
</article>
