{% extends 'tshirts/show.html' %}
{% load i18n static %}

{% block form %}
  <form id="orderProduct" class="product-payment-detail" method="POST">
    {% csrf_token %}

    {# Messages #}
    {% if messages %}
    <ul class="messages" style="list-style-type:none">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h4 class="product-title mb-2">{% trans 'Camiseta oficial Pycon Alicante 2019' %}</h4>
    <p class="mb-0">
      {% trans 'Introduzca su NIF/NIE y eliga el tamaño y corte de la camisa.' %}
    </p>

    {# General errors #}
    {% for error in form.field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}

    {# Fields #}
    <div class="row mt-4">

      {# NIE #}
      <div class="form-group{% if form.nif.errors %} has-error{% endif %} col col-12">

        {# Field & label #}
        <label for="{{ form.nif.id_for_label }}">{{ form.nif.label }}</label>
        {{ form.nif }}

        {# Errors #}
        {% if form.nif.errors %}
          <p class="text-danger" role="alert">{{ form.nif.errors.0 }}</p>
        {% endif %}

      </div>

      {# Size #}
      <div class="form-group{% if form.nif.errors %} has-error{% endif %} col col-md-6">

        {# Field & label #}
        <label for="{{ form.tshirt_size.id_for_label }}">{{ form.tshirt_size.label }}</label>
        {{ form.tshirt_size }}

        {# Errors #}
        {% if form.tshirt_size.errors %}
          <p class="text-danger" role="alert">{{ form.tshirt_size.errors.0 }}</p>
        {% endif %}

      </div>

      {# Shirt cut #}
      <div class="form-group{% if form.nif.errors %} has-error{% endif %} col col-md-6 mb-5">

        {# Field & label #}
        <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
        {{ form.sex }}

        {# Errors #}
        {% if form.sex.errors %}
          <p class="text-danger" role="alert">{{ form.sex.errors.0 }}</p>
        {% endif %}

      </div>
    </div>

    {# Buy button #}
    <button class="btn btn-primary btn-lg btn-block">{% trans 'Reservar' %}</button>

  </form>
{% endblock %}
