# Wheel 0.25+ needed to install certain packages on CPython 3.5+
# like Pillow and psycopg2
# See http://bitly.com/wheel-building-fails-CPython-35
# Verified bug on Python 3.5.1
wheel==0.33.4

# Django
django==2.2.2

# Configuration
django-environ==0.4.5
django-simple-options==1.0

# Models
django-model-utils==2.6.1
django-reversion==2.0.8
django-extensions
django-import-export==1.2.0

# Views
django-braces==1.13.0

# Images
Pillow==6.0.0

# Database connector
psycopg2==2.8.2

# Requests
requests==2.22.0

# Markup
django-markupfield==1.5.1
markdown==3.1.1
martor==1.4.4

# Translations
django-modeltranslation==0.13.1

# Tags
django-taggit
django-taggit-autosuggest==0.3.7

# Numpy
numpy==1.16.4

# Clean user input
bleach==3.1.0

# API
restless==2.1.1

# Calendar Export
icalendar==4.0.3

# Testing
django-test-plus==1.0.16
coverage==4.3.1
django-coverage-plugin==1.3.1
pytest-django==3.0.0
pytest-sugar==0.7.1
factory_boy==2.8.1

# Developing local tools
Werkzeug
ipdb==0.12
django-debug-toolbar==1.11

django-gulp==4.1.0

# WSGI Handler
raven==6.10.0
uwsgi==2.0.17.1
uwsgi-tools==1.1.1
