{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load schedule_tags %}


{% block content %}
  <section class="container" id="schedule">
        {% for day in days %}
            <div class="row">
                <div class="col-12 day">
                    <h2>{{ day.date|date:"d F Y" }}</h2>
                </div>
            </div>
            {% comment %}
            <div class="row track-title-row hidden-xs">
                {% for track in day.slots %}
                <div class="col-12 {% slot_col_size day.tracks|length %} track-title track-title-{{ forloop.counter }}">
                    <h3>{{ track.name }}</h3>
                </div>
                {% endfor %}
            </div>

            {% for track in day.tracks %}
                    {% if slot.kind.plenary %}
                        <div class="row slot-row">
                            <div class="col-12 slot slot-plenary">
                                {{slot}}
                            </div>
                        </div>
                    {# If not plenay, 3 columns #}
                    {% else %}

                        <div class="col-12 {% slot_col_size group|length %} slot {{ slot.kind.css_class }} {% if slot.content %}slot-{{ slot.content.get_audience_level }}{% endif %}">
                            {% include "schedule/_slot.html" %}
                        </div>
                        {% if forloop.last %}</div>{% endif %}
                    {% endif %}
            {% endfor %}
            {% endcomment %}
            <table>

            <tr>
            {% for g in day.slot_groups %}
              <td class="track">
                {% for s in g %}
                  <tr>
                    <td>{{s}}</td>
                  </tr>
                {% endfor %}
              </td>
            {% endfor %}
            </tr>
            </table>
        {% endfor %}
    </div>
  </section>

    {% comment %}
    <div class="container">
        <div class="row text-center" style="margin: 15px 0">
            <div class="col-sm-4">
                <a href="{% url "schedule_icalendar" %}" target="_blank" class="btn btn-success">{% trans "Descargar en iCalendar" %}</a>
            </div>
            <div class="col-sm-4">
                <a href="{% url "schedule_xcal" %}" target="_blank" class="btn btn-success">{% trans "Descargar en xCal" %}</a>
            </div>
            <div class="col-sm-4">
                <a href="{% url "schedule_pentabarf" %}" target="_blank" class="btn btn-success">{% trans "Descargar en Pentabarf XML" %}</a>
            </div>
        </div>
    </div>
    {% end comment %}
{% endblock content %}
